build/*.js
server/**/*.js
config/*.js
dist/**/*.js
gulp/**/*.js
src/*.js
src/**/*.vue
src/dcv/plugins/**/*.js
/.idea/
/src/dcv/javascripts/3d/t3djs/base.js
/src/dcv/resource/
/dist/
/frame/
/src/dcv/views/play/swfobject.js
/test/
